<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.Name %>
</p>

<p>
  <strong>Class:</strong>
  <%= @user.Class %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.Age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.Gender %>
</p>

<p>
  <strong>Rollno:</strong>
  <%= @user.RollNo %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @user.integer %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
